/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Segoe UI", sans-serif;
}

/* Body */
body{
    min-height:100vh;
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    color:#fff;
    padding:40px;
}

/* Main content card */
body > *{
    max-width:700px;
    margin:auto;
}

/* Headers */
h1{
    text-align:center;
    font-size:42px;
    margin-bottom:20px;
    color:#ffe8e8;
    text-shadow:0 0 10px #000000;
}

h2{
    margin-top:30px;
    color:#ffb703;
}

h3{
    margin-top:25px;
    color:#ebf6fa;
}

/* Paragraph */
p{
    margin-top:10px;
    line-height:1.6;
    opacity:0.9;
}

/* Lists */
ul,ol{
    margin-left:30px;
    margin-top:10px;
}

li{
    padding:5px;
}

/* Link */
a{
    display:inline-block;
    margin-top:10px;
    text-decoration:none;
    background:#00ffd5;
    color:hsl(63, 100%, 59%);
    padding:10px 18px;
    border-radius:20px;
    transition:0.3s;
}

a:hover{
    background:#ffb703;
    transform:scale(1.05);
}

/* Image */
img{
    display:block;
    margin-top:15px;
    border-radius:50%;
    box-shadow:0 0 15px rgba(0,255,213,0.6);
}

/* Section spacing */
h2,h3,p,ul,ol,a,img{
    background:rgba(255,255,255,0.05);
    padding:15px;
    border-radius:12px;
    margin-top:15px;
}
